/* https://www.w3schools.com/css/css_grid.asp */

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.header {
  grid-area: header;
}
#activities {
  grid-area: activities;
  overflow-y: auto;
}
.segment_definitions {
  grid-area: segment_definitions;
  overflow-y: auto;
}
.content {
  grid-area: content;
  overflow-y: auto;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "activities segment_definitions content content content content"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  grid-template-columns: 11em 18em auto;
  grid-template-rows: 8vh 80vh 5vh;
  background-color: #f39621;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* padding: 20px 0; */
}

a:hover {
  /* color: blue; */
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

#mapid {
  height: 250px;
}
